@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500;600;700&family=Roboto:wght@700&display=swap');

:root {
  --my-color-gray: #3e3e3e;
}

.my-bg-body {
  background: #e5e5e5;
}

.my-fw-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--my-color-gray);
}
.my-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: var(--my-color-gray);
}

.my-btn {
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #3f87f5;
  background-color: white;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px 43px;
}

.my-section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #222221;
  text-align: center;
}

.my-price {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #231d4f;
}

.my-card-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #231d4f;
}

.my-card-details {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #848199;
}

.my-plan-btn {
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #3f87f5;
  text-align: center;
  background-color: rgba(244, 150, 209, 0.1);
  border-radius: 24px;

  padding: 14px 62px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.my-accordion-title{
font-family: 'Inter', sans-serif;
font-weight: 500;
font-size: 20px;
color: #383838;
padding: 20px 24px;
margin: 8px 0;
}

.my-accordion-text{
font-family: 'Inter', sans-serif;
font-weight: normal;
font-size: 16px;
color: #7E848C;
}